@media (max-width: 991px) {
.promo {
    &__wrapper {
        align-items: center;
    }
}
}

@media (max-width: 767px) {
    .header {
        justify-content: space-around;
        &__official {
            display: none;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;

        }
    }
}