.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;

    }
    .slick-prev, .slick-next {
        position: absolute;
        border: none;
        background-color: #fff;
        padding: 0;
        left: -66px;
        top: 50%;
        transform: translateY(-50%);
        img {
            height: 50px;
            width: 31px;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
}